@model Dixus.WebUI.Models.JuntaViewModel

@{
    ViewBag.Title = Model.Junta.Titulo;
    double NumDeAsistentes = Model.Junta.NumDeUsuariosPresentes();
    double NumDeTareasAsignadas = Model.Junta.NumDeTareasAsignadas();
    double NumDeTareaCompletadas = Model.Junta.NumDeTareasCompletadas();
    double NumDeTareaPendientes = Model.Junta.NumDeTareasPendientes();
    double NumDeAcuerdosGenerados = Model.Junta.NumDeAcuerdosAlcanzados();
}

@Html.PageTitle(Model.Junta.Titulo, "Minuta")

<div id="pagina-junta">

    <div class="content-padder">

        <div class="row">
            <div class="col-sm-12 col-md-4">

                <section id="fecha-de-junta">
                    <h4 class="section-title">Fecha</h4>
                    <div class="well">@Html.DisplayFor(model => model.Junta.Fecha)</div>
                </section>

                <section id="objetivo-de-junta">
                    <h4 class="section-title">Objetivo</h4>
                    <div class="well">
                        @if (!Model.Junta.Objetivo.IsEmpty())
                        {
                            <text>Model.Junta.Objetivo</text>
                        }
                        else
                        {
                            <div>No tiene un objetivo especificado. Para añadir uno, haz click @Html.ActionLink("aquí", "editarjunta", "operacion", new { id = Model.Junta.JuntaDeConsejoId }, null)</div>
                        }
                    </div>
                </section>

                <section id="asistentes-de-junta">
                    <h4 class="section-title">@NumDeAsistentes Asistente@(NumDeAsistentes == 1 ? "" : "s"):</h4>
                   
                    <ul>
                        @if (Model.Junta.UsuariosPresentes.Count > 0)
                        {
                            foreach (var user in Model.Junta.UsuariosPresentes)
                            {
                                <li><a class="normal-color" href="@Url.Action("Usuario", new { id = user.Id })">@user.NombreCompleto</a></li>
                            }
                        }
                        else
                        {
                            <li>No has agregado ningún usuario a esta junta aún</li>
                        }
                    </ul>
                    <div class="link-agregar">
                        <a data-toggle="modal" data-target="#myModal" data-title="Agregar asistente" data-formurl='@Url.Action("AgregarAsistenteAJunta", new { juntaid = Model.Junta.JuntaDeConsejoId })'>Agregar/modificar asistentes</a>
                    </div>
                </section>

                @if (!Model.Junta.Observaciones.IsEmpty())
                {
                    <section id="observaciones-de-junta">
                        <h4 class="section-title">Observaciones</h4>
                        <div class="well">
                            @Model.Junta.Observaciones
                        </div>
                    </section>
                }

            </div>

            <div class="col-sm-12 col-md-8">

                <section id="acuerdos-de-junta">
                    <h4 class="section-title">@NumDeAcuerdosGenerados @(NumDeAcuerdosGenerados == 1 ? "Acuerdo" : "Acuerdos")</h4>
                    @if (NumDeAcuerdosGenerados > 0)
                    {
                        <div class="table-wrapper">
                            <table id="tabla-acuerdos" class="@Html.tableClasses("left")">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var acuerdo in Model.Junta.Acuerdos)
                                    {
                                        <tr>
                                            <td class="cell-fixed-width" style="width:200px;">@acuerdo.Nombre</td>
                                            <td class="cell-fixed-width cell-wrap" style="min-width:150px; max-width:300px;">@acuerdo.Descripcion</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="well" role="alert">No se ha registrado ningun acuerdo en esta junta</div>

                    }
                    <div class="link-agregar">
                        <a data-toggle="modal" data-target="#myModal" data-title="Agregar acuerdo" data-formurl='@Url.Action("AgregarAcuerdoAJunta", new { juntaid = Model.Junta.JuntaDeConsejoId })'>Agregar acuerdo</a>
                    </div>
                </section>

                <section id="tareas-de-junta">
                    <h4 class="section-title">@NumDeTareasAsignadas @(NumDeTareasAsignadas == 1 ? "Tarea" : "Tareas") (@NumDeTareaPendientes pendientes)</h4>
                    @if (NumDeTareasAsignadas > 0)
                    {
                        <div class="table-wrapper">
                            <table id="tabla-tareas" class="@Html.tableClasses("left")">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th class="text-center">Completada</th>
                                        <th class="text-center">Porcentaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tarea in Model.Junta.TareasPendientes(5))
                                    {
                                        <tr>
                                            <td title="@tarea.Descripcion"><a href="@Url.Action("Tarea","Operacion",new { id = tarea.TareaId })">@tarea.Nombre</a></td>
                                            <td class="text-center">
                                                <div class="checkbox checkbox-success">
                                                    <input type="checkbox" @( tarea.ChecarSiEstaCompletada() ? "checked" : "") disabled /><label></label>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                @String.Format("{0:#0.##%}", tarea.ObtenerPorcentajeDeProgreso())
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="well" role="alert">No se ha registrado ninguna tarea en esta junta</div>
                    }
                    <div class="link-agregar">
                        <a data-toggle="modal" data-target="#myModal" data-title="Agregar tarea" data-formurl='@Url.Action("AgregarTareaAJunta", new { juntaid = Model.Junta.JuntaDeConsejoId })'>Agregar tarea</a>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>

@*Modal*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.PageTitle("")
            <div id="modal-form-content">

            </div>
        </div>
    </div>
</div>

@section jsCode{
    
    $("#myModal").on('show.bs.modal', function (event) {
       
        var button = $(event.relatedTarget);
        var url = button.data('formurl');
        var titulo = button.data('title');

        var modal = $(this);
        var modalTitle = modal.find('.page-title');
        var modalContent = modal.find('#modal-form-content');
        
        modalTitle.text(titulo);
        modalContent.html("<div class='well-sm text-center'><i class='fa fa-circle-o-notch fa-spin'></i></div>");

        modalContent.load(url);
        
    })
    
}